<!DOCTYPE html>
<html>
<head>
  <title>DemoDeviseCancan</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "jquery", "jquery.dataTables.js", "http://maps.googleapis.com/maps/api/js?sensor=false","application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if user_signed_in? %>
  You are currently signed in as <%= current_user.email %>, not you?
  <%= link_to "Sign out?", destroy_user_session_path, :method => :delete %>
<% end %>

<%= yield %>

</body>
</html>
